body{
    background: #d4f9fa;
    color: black;
}

.box{
    background-color: #52b1ff;
    width: 23%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    text-align: center;
    box-shadow: 5px 10px 15px #a3b5c4;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input{
    background-color: #52b1ff;
    width: 40%;
    border: none;
    border-bottom: 2px solid white;
    outline: none;
    color: white;
    text-align: center;

}
::-webkit-input-placeholder { /* Edge */
    color: #d4f9fa;
    font-family: 'Jost', sans-serif;
  }
  

h2{
    text-transform: capitalize;
    margin-top: 90px;
    font-size: 50px;
    font-family: 'Jost', sans-serif;
}

.temp{
    margin-top: 50px;
    font-family: 'Jost', sans-serif;
}

.tempmin_max{
    margin-top: 10px;
    font-weight: 100;
    font-size: medium;
}

i{
  left: -20px;
  color: aliceblue;
  position: relative;
  animation-name: example;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
  @keyframes example {
    0%   {left:-20px;}
    100%  {left:0px;}
  }

   /* Media Query for Mobile Devices */
   @media (max-width: 480px) {
    .box {
        width: 70%;
    }
}
  
/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    .box{
      width: 50%;  
    }
}
  
/* Media Query for Tablets Ipads portrait mode and laptops */
@media (min-width: 768px) and (max-width: 1024px){
    .box{
        width: 50%;
    }
}
  
